html,
body {
    height: 100%;
    color: white;
    font-family: "Mada", sans-serif;
}

/* Load Section  */

#load {
    padding: 5% 20%;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.4)
        ),
        url(images/wes-hicks-MEL-jJnm7RQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.logo {
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 5rem;
    font-weight: 400;
}

.slogan {
    font-weight: 300;
    line-height: 3;
}

.hide {
    display: none;
}

#upload-label {
    background-color: #f35803;
    color: white;
    border: 2px solid #994f2a;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 30px;
    padding: 5px 20px;
}

#upload-label:hover {
    background-color: #ff7d36;
}

/* Play Section  */

#play {
    padding: 5% 20%;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.4)
        ),
        url(images/wes-hicks-MEL-jJnm7RQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

#title {
    font-size: 2rem;
    font-weight: 300;
}

#now-playing {
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    position: absolute;
    left: 20px;
}

#art-media {
    position: relative;
    top: 20%;
}

#album-art {
    margin: 30px 0;
    height: 25vw;
    width: 25vw;
    background: url(images/robbie-down-_4CgBNh-UbA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.controls {
    display: flex;
    justify-content: center;
    padding: auto;
    align-items: flex-end;
    height: 12.5vw;
    margin: 15px;
}

.media-button {
    margin: 0 4vw;
}

.slider {
    padding: 0;
}

@media (max-width: 767px) {
    body {
        text-align: center;
    }
    #play {
        padding: 5%;
    }
    #load {
        padding: 5%;
    }
    #album-art {
        margin: 30px 0;
        height: 45vw;
        width: 45vw;
        max-width: 40vh;
        max-height: 40vh;
        object-fit: cover;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    #media-tools {
        padding: 0 25vw;
    }
}
